# Configuration file

"global modifiers" {
    # A flat multiplier on the bonus all stats gives.
    D:"Bonus Muliplier"=1.0

    # A flat multiplier on the cost to upgrade all stats.
    D:"Cost Muliplier"=1.0

    # A flat multiplier on the level limit of all stats.
    D:"Limit Muliplier"=2.5
}


options {
    # Lose stats on death?
    B:"Death Loss"=true
}


support {
    S:"Bowmanship Tools" <
        261:0
     >
    S:"Chopping Tools" <
        271:0
        275:0
        258:0
        286:0
        279:0
     >
    S:"Digging Tools" <
        269:0
        273:0
        256:0
        284:0
        277:0
     >
    S:"Mining Tools" <
        270:0
        274:0
        257:0
        285:0
        278:0
     >
    D:"Reaper Limit"=20.0
    S:"Swordsmanship Tools" <
        268:0
        272:0
        267:0
        283:0
        276:0
     >
    S:"Trimming Tools" <
        359:0
     >
    S:"回火 Sources" <
        lava
        inFire
        onFire
     >
    S:"硬化皮肤 Sources" <
        explosion
        explosion.player
     >
    S:"轻功 Sources" <
        fall
     >
    S:"防守姿势 Sources" <
        mob
     >
}


"treasure finder" {
    S:Entries <
        12_0_371_0_1_10
        3_0_367_0_1_40
        3_0_352_0_1_20
        3_0_375_0_1_10
        3_0_289_0_1_10
        3_0_341_0_1_10
        12_0_374_0_1_10
        12_0_347_0_1_5
        12_0_345_0_1_5
        12_0_337_0_1_20
        3_0_281_0_1_6
        3_0_392_0_1_10
        3_0_391_0_1_10
        3_0_260_0_1_10
        18_0_260_0_1_10
        161_0_260_0_1_10
        3_0_40_0_1_10
        3_0_39_0_1_10
        3_0_38_0_1_10
        3_0_37_0_1_10
        3_0_280_0_1_100
        31_0_361_0_1_30
        31_0_362_0_1_30
        3_0_363_0_2_50
        3_0_319_0_2_50
        3_0_365_0_2_50
        12_0_265_0_2_10
        12_0_266_0_2_10
        3_0_334_0_2_10
        3_0_288_0_2_10
        3_0_35_0_2_10
        12_0_331_0_2_50
        3_0_325_0_3_20
        3_0_2266_0_3_2
        3_0_2256_0_3_2
        3_0_2258_0_3_2
        3_0_2257_0_3_2
        3_0_2259_0_3_2
        3_0_2260_0_3_2
        3_0_2261_0_3_2
        3_0_2262_0_3_2
        3_0_2263_0_3_2
        3_0_2264_0_3_2
        3_0_2267_0_3_2
        3_0_2265_0_3_2
     >
}


version {
    S:"Configuration Version"=v1
}


